annotated-types==0.7.0
anyio==4.11.0
bcrypt==3.2.0
certifi==2025.10.5
click==8.3.0
colorama==0.4.6
dnspython==2.8.0
email-validator==2.3.0
fastapi==0.118.2
fastapi-mail>=1.4.1
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.10
Jinja2==3.1.6
MarkupSafe==3.0.3
passlib==1.7.4
pydantic==2.12.0
pydantic-settings==2.11.0
python-dotenv==1.1.1
python-jose[cryptography]
python-multipart==0.0.20
PyYAML==6.0.3
qrcode[pil]
slowapi
SQLAlchemy==2.0.43
starlette==0.48.0
typing_extensions==4.15.0
uvicorn[standard]
validators==0.35.0
watchfiles==1.1.0