<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <div class="brand-logo">
        <span class="svg-icon" style="--url: url('assets/icons/link-logo.svg'); width: 32px; height: 32px;"></span>
      </div>
      <h1 class="brand-name">Shortify</h1>
    </div>

    <div class="navbar-actions">
      <div class="user-info" [attr.data-tooltip]="'Logged in as ' + username">
        <i class="lucide-user"></i>
        <span class="username">{{ username }}</span>
      </div>
      
      <button class="logout-btn" (click)="logout()" data-tooltip="Logout">
        <i class="lucide-log-out"></i>
        <span>Logout</span>
      </button>
    </div>
  </div>
</nav>
